<div class="container">

  <h2 class="title">Create Profile</h2>

  <div class="form">
    <input type="text" placeholder="Name" [(ngModel)]="name">
    <input type="text" placeholder="Role" [(ngModel)]="role">
    <input type="text" placeholder="Bio" [(ngModel)]="bio">

    <label class="upload-box">
      <span>Select Image</span>
      <input type="file" accept="image/*" (change)="onFileChange($event)">
    </label>

    <div *ngIf="avatarUrl" class="preview">
      <img [src]="avatarUrl">
    </div>

    <button *ngIf="editIndex === -1" (click)="addUser()" class="primary-btn">Add Profile</button>
    <button *ngIf="editIndex !== -1" (click)="updateUser()" class="primary-btn">Update Profile</button>
  </div>

  <div class="cards">
    <div class="card" *ngFor="let u of users; let i = index">

      <div class="image-box">
        <img [src]="u.avatarUrl" class="avatar" />
      </div>

      <div class="card-content">
        <h3>{{ u.name }}</h3>
        <p class="role">{{ u.role }}</p>
        <p class="bio">{{ u.bio }}</p>

        <div class="actions">
          <button (click)="editUser(i)" class="edit">Edit</button>
          <button (click)="deleteUser(i)" class="delete">Delete</button>
        </div>
      </div>

    </div>
  </div>
</div>